/********************************************************************************************
* Global
********************************************************************************************/

a {
    color: #0645AD;
    text-decoration: none;
}

body {
    font-family: 'Segoe UI', 'wf_segoe-ui_normal', helvetica, arial, sans-serif;
    margin: 0;
}

button {
    font-size: 14px;
    height: 40px;
    text-align: center;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button,
ok-btn,
input[type=button],
.btn {
    font-family: 'Segoe UI', 'wf_segoe-ui_normal', helvetica, arial, sans-serif;
}

input[type=password],
input[type=text] {
    padding: 8px;
}

ul {
    list-style-position: inside;
    padding-left: 0;
}

.dropdown-toggle {
    background-color: #E9E9E9;
    border-color: #E9E9E9;
    padding-left: 10px;
}

/********************************************************************************************
* PBIST
********************************************************************************************/

.st-buttons-back {
    background: #B9B9B9;
    border: #B9B9B9;
    clear: both;
    float: left;
    margin-right: 12px;
}

.st-center-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.st-center-outer {
    display: table;
    height: 100%;
    width: 100%;
}

.st-close {
    position: absolute;
    right: 15px;
}

.st-contact-us {
    background-color: #FFF;
    bottom: 100px;
    padding: 10px 42px;
    position: fixed;
    right: 100px;
    text-align: center;
    width: 192px;
}

.st-contact-us-close {
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.st-contact-us-close:hover {
    cursor: pointer;
}

.st-content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 60px;
}

.st-diagram {
    margin-top: 15px;
    width: 750px;
}

.st-error {
    color: #E81123;
}

.st-float {
    clear: both;
    float: left;
    margin-top: 10px;
}

.st-footer {
    clear: both;
    height: 42px;
    margin-top: -42px;
    position: relative;
    text-align: right;
}

.st-footer-text {
    color: #4a4a4a;
    margin-right: 25px;
}

.st-header {
    background-color: #F2C811;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.st-header-bar {
    margin: 0 25px;
}

.st-icon {
    font-size: 22px;
    position: absolute;
    vertical-align: bottom;
}

.st-icon-checkmark {
    font-size: 12px;
    padding-left: 5px;
}

.st-icon-legal {
    vertical-align: bottom;
}

.st-icon-ms {
    font-size: 25px;
    padding-right: 6px;
    vertical-align: bottom;
}

.st-icon-progress {
    position: absolute;
    vertical-align: bottom;
}

.st-icon-progress-check {
    font-size: 16px;
    padding-left: 9px;
}

.st-icon-progress-close {
    font-size: 14px;
    padding-left: 9px;
}

.st-icon-progress-index {
    font-size: 16px;
    padding-left: 12px;
}

.st-icon-tab {
    font-size: 12px;
    padding-left: 8px;
}

.st-import {
    height: 30px;
    line-height: 30px;
    padding-left: 92px;
}

.st-input {
    color: #333333;
    font-size: 14px;
    margin-bottom: 15px;
    width: 300px;
}

.st-input[disabled] {
    border-color:inherit;
}


.st-input-column {
    float: left;
    margin-right: 10px;
}

.st-label {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.st-label-wrapper {
    height: 30px;
}

.st-legal {
    bottom: 0;
    color: #AAAAAA;
    left: 0;
    margin-top: 10px;
    padding: 0 0 20px 14px;
    position: absolute;
}

.st-legal-text {
    color: #AAAAAA;
    font-size: 14px;
    padding-left: 5px;
    text-align: justify;
}

.st-legal-tabs {
    padding-bottom: 10px;
}

.st-loader {
    -o-transform: translateZ(0);
    -moz-animation: load5 1.1s infinite ease;
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    animation: load5 1.1s infinite ease;
    border-radius: 50%;
    display: inline-block;
    font-size: 25px;
    height: 1em;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
    transform: translateZ(0);
    width: 1em;
}

.st-loader-check {
    left: 60px;
    position: absolute;
}

.st-loader-line {
    left: 70px;
    margin: 14px 0 0 0;
    position: absolute;
}

.st-loader-pbi {
    left: 5px;
    top: 19px;
}

.st-loader-small {
    -o-transform: scale(0.2);
    -o-transform-origin: top left;
    -moz-transform: scale(0.2);
    -moz-transform-origin: top left;
    -ms-transform: scale(0.2);
    -ms-transform-origin: top left;
    -webkit-transform: scale(0.2);
    -webkit-transform-origin: top left;
    transform: scale(0.2);
    transform-origin: top left;
}

.st-loader-tiny {
    -o-transform: scale(0.1);
    -o-transform-origin: top left;
    -moz-transform: scale(0.1);
    -moz-transform-origin: top left;
    -ms-transform: scale(0.1);
    -ms-transform-origin: top left;
    -webkit-transform: scale(0.1);
    -webkit-transform-origin: top left;
    transform: scale(0.1);
    transform-origin: top left;
}

.st-main {
    background-color: #F2F2F2;
    bottom: 0;
    left: 250px;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.st-nav {
    background-color: #212121;
    bottom: 0;
    left: 0;
    min-width: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 42px;
    position: absolute;
    right: 250px;
    top: 0;
}

.st-nav-buttons {
    clear: both;
    float: left;
    margin: 10px 0 25px 0;
    width: 100%;
}

.st-two-columns {
    max-width: 800px;
}

.st-privacy {
    clear: left;
    float: left;
    margin-top: 0;
    max-width: 800px;
    text-align: justify;
}

.st-progress {
    line-height: 50px;
}

.st-progress-text {
    padding-left: 42px;
}

.st-question {
    padding-bottom: 21px;
}

.st-section {
    bottom: 0;
    left: 35px;
    position: absolute;
    right: 0;
    top: 0;
}

.st-section-wrapper {
    min-height: 95%;
    overflow: auto;
    padding-bottom: 42px;
}

.st-setup {
    padding-right: 10px;
    width: 550px;
}

.st-subtitle {
    color: #333333;
    font-size: 16px;
    font-weight: normal;
    max-width: 800px;
    text-align: justify;
    text-justify: inter-word;
}

.st-tab {
    color: #666666;
    line-height: 42px;
    padding-left: 14px;
}

.st-tab-active {
    background-color: #666666;
    border-left: 4px solid #F2C811;
    color: #FFFFFF;
    padding-left: 10px;
}

.st-tab-complete {
    color: #FFFFFF;
}

.st-tab-text {
    padding-left: 30px;
}

.st-tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.st-text {
    color: #4a4a4a;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 8px;
    max-width: 800px;
}

.st-text-progress {
    margin: 50px 0;
}

.st-title {
    color: #333333;
    font-size: 48px;
    font-weight: lighter;
}

.st-toggle {
    vertical-align: bottom;
}

.st-toggle-collapse {
    left: 5px;
    position: absolute;
}

.st-tooltip {
    vertical-align: top;
}

.st-tracking {
    margin: 24px 0 0 15px;
    position: absolute;
}

.st-validated {
    clear: both;
    float: left;
    line-height: 42px;
}

.st-verify {
    height: 92px;
}

.st-verify-content {
    float: left;
    height: 92px;
    width: 266px;
}

.st-verify-text {
    height: 46px;
}

/********************************************************************************************
* Spinner
********************************************************************************************/

@-webkit-keyframes load5 {
    0%, 100% {
        box-shadow: 0 -2.6em 0 0 #212121, 1.8em -1.8em 0 0 rgba(33, 33, 33, 0.2), 2.5em 0 0 0 rgba(33, 33, 33, 0.2), 1.75em 1.75em 0 0 rgba(33, 33, 33, 0.2), 0 2.5em 0 0 rgba(33, 33, 33, 0.2), -1.8em 1.8em 0 0 rgba(33, 33, 33, 0.2), -2.6em 0 0 0 rgba(33, 33, 33, 0.5), -1.8em -1.8em 0 0 rgba(33, 33, 33, 0.7);
    }

    12.5% {
        box-shadow: 0 -2.6em 0 0 rgba(33, 33, 33, 0.7), 1.8em -1.8em 0 0 #212121, 2.5em 0 0 0 rgba(33, 33, 33, 0.2), 1.75em 1.75em 0 0 rgba(33, 33, 33, 0.2), 0 2.5em 0 0 rgba(33, 33, 33, 0.2), -1.8em 1.8em 0 0 rgba(33, 33, 33, 0.2), -2.6em 0 0 0 rgba(33, 33, 33, 0.2), -1.8em -1.8em 0 0 rgba(33, 33, 33, 0.5);
    }

    25% {
        box-shadow: 0 -2.6em 0 0 rgba(33, 33, 33, 0.5), 1.8em -1.8em 0 0 rgba(33, 33, 33, 0.7), 2.5em 0 0 0 #212121, 1.75em 1.75em 0 0 rgba(33, 33, 33, 0.2), 0 2.5em 0 0 rgba(33, 33, 33, 0.2), -1.8em 1.8em 0 0 rgba(33, 33, 33, 0.2), -2.6em 0 0 0 rgba(33, 33, 33, 0.2), -1.8em -1.8em 0 0 rgba(33, 33, 33, 0.2);
    }

    37.5% {
        box-shadow: 0 -2.6em 0 0 rgba(33, 33, 33, 0.2), 1.8em -1.8em 0 0 rgba(33, 33, 33, 0.5), 2.5em 0 0 0 rgba(33, 33, 33, 0.7), 1.75em 1.75em 0 0 #212121, 0 2.5em 0 0 rgba(33, 33, 33, 0.2), -1.8em 1.8em 0 0 rgba(33, 33, 33, 0.2), -2.6em 0 0 0 rgba(33, 33, 33, 0.2), -1.8em -1.8em 0 0 rgba(33, 33, 33, 0.2);
    }

    50% {
        box-shadow: 0 -2.6em 0 0 rgba(33, 33, 33, 0.2), 1.8em -1.8em 0 0 rgba(33, 33, 33, 0.2), 2.5em 0 0 0 rgba(33, 33, 33, 0.5), 1.75em 1.75em 0 0 rgba(33, 33, 33, 0.7), 0 2.5em 0 0 #212121, -1.8em 1.8em 0 0 rgba(33, 33, 33, 0.2), -2.6em 0 0 0 rgba(33, 33, 33, 0.2), -1.8em -1.8em 0 0 rgba(33, 33, 33, 0.2);
    }

    62.5% {
        box-shadow: 0 -2.6em 0 0 rgba(33, 33, 33, 0.2), 1.8em -1.8em 0 0 rgba(33, 33, 33, 0.2), 2.5em 0 0 0 rgba(33, 33, 33, 0.2), 1.75em 1.75em 0 0 rgba(33, 33, 33, 0.5), 0 2.5em 0 0 rgba(33, 33, 33, 0.7), -1.8em 1.8em 0 0 #212121, -2.6em 0 0 0 rgba(33, 33, 33, 0.2), -1.8em -1.8em 0 0 rgba(33, 33, 33, 0.2);
    }

    75% {
        box-shadow: 0 -2.6em 0 0 rgba(33, 33, 33, 0.2), 1.8em -1.8em 0 0 rgba(33, 33, 33, 0.2), 2.5em 0 0 0 rgba(33, 33, 33, 0.2), 1.75em 1.75em 0 0 rgba(33, 33, 33, 0.2), 0 2.5em 0 0 rgba(33, 33, 33, 0.5), -1.8em 1.8em 0 0 rgba(33, 33, 33, 0.7), -2.6em 0 0 0 #212121, -1.8em -1.8em 0 0 rgba(33, 33, 33, 0.2);
    }

    87.5% {
        box-shadow: 0 -2.6em 0 0 rgba(33, 33, 33, 0.2), 1.8em -1.8em 0 0 rgba(33, 33, 33, 0.2), 2.5em 0 0 0 rgba(33, 33, 33, 0.2), 1.75em 1.75em 0 0 rgba(33, 33, 33, 0.2), 0 2.5em 0 0 rgba(33, 33, 33, 0.2), -1.8em 1.8em 0 0 rgba(33, 33, 33, 0.5), -2.6em 0 0 0 rgba(33, 33, 33, 0.7), -1.8em -1.8em 0 0 #212121;
    }
}

@keyframes load5 {
    0%, 100% {
        box-shadow: 0 -2.6em 0 0 #212121, 1.8em -1.8em 0 0 rgba(33, 33, 33, 0.2), 2.5em 0 0 0 rgba(33, 33, 33, 0.2), 1.75em 1.75em 0 0 rgba(33, 33, 33, 0.2), 0 2.5em 0 0 rgba(33, 33, 33, 0.2), -1.8em 1.8em 0 0 rgba(33, 33, 33, 0.2), -2.6em 0 0 0 rgba(33, 33, 33, 0.5), -1.8em -1.8em 0 0 rgba(33, 33, 33, 0.7);
    }

    12.5% {
        box-shadow: 0 -2.6em 0 0 rgba(33, 33, 33, 0.7), 1.8em -1.8em 0 0 #212121, 2.5em 0 0 0 rgba(33, 33, 33, 0.2), 1.75em 1.75em 0 0 rgba(33, 33, 33, 0.2), 0 2.5em 0 0 rgba(33, 33, 33, 0.2), -1.8em 1.8em 0 0 rgba(33, 33, 33, 0.2), -2.6em 0 0 0 rgba(33, 33, 33, 0.2), -1.8em -1.8em 0 0 rgba(33, 33, 33, 0.5);
    }

    25% {
        box-shadow: 0 -2.6em 0 0 rgba(33, 33, 33, 0.5), 1.8em -1.8em 0 0 rgba(33, 33, 33, 0.7), 2.5em 0 0 0 #212121, 1.75em 1.75em 0 0 rgba(33, 33, 33, 0.2), 0 2.5em 0 0 rgba(33, 33, 33, 0.2), -1.8em 1.8em 0 0 rgba(33, 33, 33, 0.2), -2.6em 0 0 0 rgba(33, 33, 33, 0.2), -1.8em -1.8em 0 0 rgba(33, 33, 33, 0.2);
    }

    37.5% {
        box-shadow: 0 -2.6em 0 0 rgba(33, 33, 33, 0.2), 1.8em -1.8em 0 0 rgba(33, 33, 33, 0.5), 2.5em 0 0 0 rgba(33, 33, 33, 0.7), 1.75em 1.75em 0 0 #212121, 0 2.5em 0 0 rgba(33, 33, 33, 0.2), -1.8em 1.8em 0 0 rgba(33, 33, 33, 0.2), -2.6em 0 0 0 rgba(33, 33, 33, 0.2), -1.8em -1.8em 0 0 rgba(33, 33, 33, 0.2);
    }

    50% {
        box-shadow: 0 -2.6em 0 0 rgba(33, 33, 33, 0.2), 1.8em -1.8em 0 0 rgba(33, 33, 33, 0.2), 2.5em 0 0 0 rgba(33, 33, 33, 0.5), 1.75em 1.75em 0 0 rgba(33, 33, 33, 0.7), 0 2.5em 0 0 #212121, -1.8em 1.8em 0 0 rgba(33, 33, 33, 0.2), -2.6em 0 0 0 rgba(33, 33, 33, 0.2), -1.8em -1.8em 0 0 rgba(33, 33, 33, 0.2);
    }

    62.5% {
        box-shadow: 0 -2.6em 0 0 rgba(33, 33, 33, 0.2), 1.8em -1.8em 0 0 rgba(33, 33, 33, 0.2), 2.5em 0 0 0 rgba(33, 33, 33, 0.2), 1.75em 1.75em 0 0 rgba(33, 33, 33, 0.5), 0 2.5em 0 0 rgba(33, 33, 33, 0.7), -1.8em 1.8em 0 0 #212121, -2.6em 0 0 0 rgba(33, 33, 33, 0.2), -1.8em -1.8em 0 0 rgba(33, 33, 33, 0.2);
    }

    75% {
        box-shadow: 0 -2.6em 0 0 rgba(33, 33, 33, 0.2), 1.8em -1.8em 0 0 rgba(33, 33, 33, 0.2), 2.5em 0 0 0 rgba(33, 33, 33, 0.2), 1.75em 1.75em 0 0 rgba(33, 33, 33, 0.2), 0 2.5em 0 0 rgba(33, 33, 33, 0.5), -1.8em 1.8em 0 0 rgba(33, 33, 33, 0.7), -2.6em 0 0 0 #212121, -1.8em -1.8em 0 0 rgba(33, 33, 33, 0.2);
    }

    87.5% {
        box-shadow: 0 -2.6em 0 0 rgba(33, 33, 33, 0.2), 1.8em -1.8em 0 0 rgba(33, 33, 33, 0.2), 2.5em 0 0 0 rgba(33, 33, 33, 0.2), 1.75em 1.75em 0 0 rgba(33, 33, 33, 0.2), 0 2.5em 0 0 rgba(33, 33, 33, 0.2), -1.8em 1.8em 0 0 rgba(33, 33, 33, 0.5), -2.6em 0 0 0 rgba(33, 33, 33, 0.7), -1.8em -1.8em 0 0 #212121;
    }
}

/********************************************************************************************
* Mobile
********************************************************************************************/

@media only screen and (max-height: 900px) {
  .st-section-wrapper {
      min-height: 94%;
  }
}

@media only screen and (max-width: 1075px) {
    .st-footer {
        font-size: 8px;
    }

    .st-main {
        left: 0;
    }

    .st-nav {
        display: none;
    }

    .st-section-wrapper {
        overflow: visible;
    }
}