<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'AZURESTPROD' in resource group 'AZUREST' -->
  <InstrumentationKey>21533683-4142-4c89-892a-ade516b1aeac</InstrumentationKey>
</ApplicationInsights>